#!/bin/bash

rm -rf /var/lib/mysql/*
mysql_install_db --datadir=/var/lib/mysql --user=mysql
chown -R mysql:mysql /var/lib/mysql/
restorecon -R /var/lib/mysql
/usr/bin/mysqld_safe --datadir='/var/lib/mysql' &

while ! mysql -u root -e ";" ; do
  echo "Waiting for database to become active..."
  sleep 1
done
echo "Database active!"

/usr/bin/mysql -u root -e "CREATE USER 'clustercheck'@'localhost';"
/usr/bin/mysql -u root -e "GRANT PROCESS ON *.* TO 'clustercheck'@'localhost' IDENTIFIED BY '{{ mysql_clustercheck_password }}';"
/usr/bin/mysqladmin -u root password {{ mysql_root_password }}
mysqladmin -u root -p{{ mysql_root_password }} shutdown